*{
    font:normal 12px 宋体,arial;
}
h2
{
    font:bold 16px 宋体,arial;
}
ul, li
{
	margin:0;
	padding:0;
	display:block;
}
.attributes
{
	padding:10px;
	width:350px;
	display:block;
	background:#c9f7ff;
	overflow:hidden;
}
.attributes ul li .name
{
	width:80px;
	display:inline-block;
	text-align:right;
}
.attributes ul li .value
{
	width:150px;
	display:inline-block;
}
.attributes ul li .value input
{
	width:100%;
	display:inline-block;
}
.sku
{
	width:350px;
	display:block;
	background:#c9f7ff;
	overflow:hidden;
	padding:10px;
}
.sku .name
{
	margin:5px 0;
}
.sku ul
{
	width:100%;
	display:block;
	margin:0 0 0 10px;
	padding:0;
}
.sku ul li
{
	width:100px;
	height:20px;
	vertical-align:middle;
	display:inline-block;
	/*background:#fff;*/
	margin:5px 0;
	padding:0;
}
