
@{
    ViewBag.Title = "Index";
}
@section head{

}

<h2>Index</h2>
<a href="~/Index/Hello/">Hello</a>
<form action="~/Index/Submit/">
    TNAME:<input type="text" name="Pass" value="" />
    <button type="submit">Submit</button>
</form>

