@{
    ViewBag.Title = "Index";
}
@section head{
    <script>
        //easyloader.load('messager', function () {        // 载入特定模块
        //    $.messager.alert('Title', 'load ok');
        //});
    </script>
}

<h2>Index</h2>
<a href="~/Index/Hello/">Hello</a>
<form action="~/Index/Submit/">
    TNAME:<input type="text" name="Pass" value="" />
    <button type="submit">Submit</button>
</form>

