@{
    ViewBag.Title = "Index";
}
@section head{
    <script>
        //easyloader.load('messager', function () {        // 载入特定模块
        //    $.messager.alert('Title', 'load ok');
        //});
        $(function () {
            //数据表
            $('#dg').datagrid({
                //url: '@Url.Content("~/Index/GetJSON")',
                columns: [[
                    { field: 'TSEQ', title: 'TSEQ', width: 100, align: 'center' },
                    { field: 'TNAME', title: 'TNAME', width: 200 }
                ]],
                pagination: true,
                pageSize: 10, //页容量，必须和pageList对应起来，否则会报错 
                pageNumber: 1, //默认显示第几页 
                pageList: [10, 25, 50],
                rownumbers: true,
                striped: true,//设置为true将交替显示行背景。
                singleSelect: true,//设置为true将只允许选择一行。
                //queryParams: { TSEQ: '10' },
                onBeforeLoad: function () {
                    //$(this).datagrid('options').queryParams = { TSEQ: '10' };
                }
            });
            //分页
            var pager = $('#dg').datagrid('getPager');
            $(pager).pagination({
                beforePageText: '第',
                afterPageText: '页 共 {pages} 页',
                displayMsg: '当前显示 {from} - {to} 条记录  &nbsp;&nbsp;&nbsp;共 {total} 条记录'
            });
        });
        function OpenWindow() {
            //彈出窗口
            $('#win').window({
                width: 600,
                height: 400,
                modal: true
            });
        }
        function CloseWindow() {
            $('#win').window('close');  //关闭窗口
        }
        function LoadData() {
            //確認窗口
            $.messager.confirm('系統提示', '確認查詢?', function (r) {
                if (r) {
                    //条件查询
                    $('#dg').datagrid('options').queryParams = FromToJSON($("#tf"));
                    $('#dg').datagrid('options').url = '@Url.Content("~/Index/GetJSON")';
                    $('#dg').datagrid('load');
                }
            });
            return false;
        }
        /*表格轉JSON對象*/
        function FromToJSON(fromObj) {
            //debugger;
            var params = fromObj.serializeArray();
            var paramsObj = new Object();
            for (var i = 0; i < params.length; i++) {
                paramsObj[params[i].name] = params[i].value;
            }
            return paramsObj;
        }
        /*AJAX*/
        var isAjax = false;
        function AjaxLoad(url, fData, fuBeforeSend, fuSuccess, fuError, fuComplete) {
            if (isAjax) {
                alert('請耐心等待上一次的操作完成！');
                return false;
            }

            isAjax = true;
            $.ajax(new function () {
                this.dataType = "html";
                this.type = "post";
                this.url = url;
                this.cache = false;//緩存
                this.data = fData;
                //this.timeout = 60;//超時
                //this.async = true;//異步
                //this.username = "";//用于响应HTTP访问认证请求的用户名。
                //this.password = "";//用于响应HTTP访问认证请求的密码。
                this.beforeSend = function (req) {
                    if ($.isFunction(fuBeforeSend)) {
                        fuBeforeSend(req);
                    }
                };
                this.success = function (data, msg) {
                    if ($.isFunction(fuSuccess)) {
                        fuSuccess(data, msg);
                    }
                };
                this.error = function (req, msg, ex) {
                    isAjax = false;
                    if ($.isFunction(fuError)) {
                        //req.statusText
                        fuError(req, msg, ex);
                    }
                };
                this.complete = function (req, msg) {
                    isAjax = false;
                    if ($.isFunction(fuComplete)) {
                        fuComplete(req, msg);
                    }
                };
            });
        } //*/
        function testAJAX() {
            var fuBeforeSend = function (req) {
                //alert("fuBeforeSend");
            };
            var fuSuccess = function (data, msg) {
                alert("fuSuccess:" + data);
                CloseWindow();
            };
            var fuError = function (req, msg, ex) {
                //alert("fuError:" + msg);
            };
            var fuComplete = function (req, msg) {
                //alert("fuComplete:" + msg);
            };
            AjaxLoad("/Index/Hello", FromToJSON($("#tf2")), fuBeforeSend, fuSuccess, fuError, fuComplete);
        }
    </script>
}

<h2>Index</h2>
<a href="~/Index/Hello/">Hello</a>
<form action="~/Index/Submit/">
    Pass:<input type="text" name="Pass" value="" />
    <button type="submit">Add</button>
</form>
<form id="tf" onsubmit="return LoadData();">
    TSEQ:<input type="text" name="TSEQ" value="" />
    <button type="submit">Submit</button>
</form>
<div id="tt" class="easyui-tabs" style="width: 100%; height: 500px;">
    <div title="Tab1">
        <table id="dg"></table>
    </div>
    <div title="Tab2" closable="true" style="overflow: auto; padding: 20px;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="OpenWindow(); return false;">窗口</a>
    </div>
    <div title="Tab3" iconcls="icon-reload" closable="true" style="padding: 20px;">
        tab3
    </div>
</div>
<div id="win" iconcls="icon-save" title="My Window">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
            <form id="tf2" onsubmit="return LoadData();">
                msg:<input type="text" name="msg" value="" />
            </form>
        </div>
        <div data-options="region:'south',border:false" style="text-align: right; padding: 5px 10px;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="testAJAX(); return false;">確 定</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CloseWindow(); return false;">取 消</a>
        </div>
    </div>
</div>


